.body {
    background: #EEF9BF;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.div {
    width: 1110px;
    height: 629px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p {
    width: auto;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
    margin: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.painel-de-cartas {
    margin-top: 7 px;
    margin-left: 122px;
    margin-right: 116px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bird {
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    /*transition: background 400ms linear;
    transform-style: preserve-3d; */
}

.carta {
    box-sizing: border-box;
    width: 117px;
    height: 146px;
    margin: 34px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
     justify-content: center;
    /*transition: all 1000ms;
  transform-style: preserve-3d; */
}

.disable-carta {
    pointer-events: none;
    background: white;
}


/* menor ou igual 629px */
@media (max-width: 629px) {
    .painel-de-cartas {
        display: flex;
        justify-content: center;
    }

    .p {
        font-size: 36px;
        line-height: 42px;
    }
}

img {
    width: 350px;
    height: 350px;
}